<div class="container category-title">
  <img src="http://chic.od.ua/image/catalog/прокачай смартфон.png">
</div>
<div class="row category-box2">
  <?php foreach ($categories as $category) { ?>
  <div class="col-md-4 category_box">
  <div class="category-name">
        <h4><center><a href="<?php echo $category['href']; ?>"><?php echo $category['name']; ?></a></center></h4>  
      </div>
      <div class="image" id="cat-img">
         <a href="<?php echo $category['href']; ?>">
      
            <img src="<?php echo $category['thumb']; ?>" alt="<?php echo $category['name']; ?>" title="<?php echo $category['name']; ?>" class="img-responsive" />
          </a>
        </div>

    </div>
  <?php } ?>
</div>