<div class="container special-m">
  <?php foreach ($products as $product) { ?>
  <div class="row special">
    <div class="special-left ">
      <div class="special-title">ГОРЯЧЕЕ ПРЕДЛОЖЕНИЕ</div>
      <div><img src="http://chic.od.ua/image/catalog/Слой 14.png"></div>
    </div>
    </div>
    <div class="special-right ">
      <div><h3>Заряжатель заряжающий</h3></div>
      <div class="otzv">
        <div class="line-100500"></div>
        <div class="otzv">100500 отзывов</div>
        <div class="stars">
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </div>
      </div>
      <div><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
      <div class="price">
        <div class="price"><h3>720грн</h3></div>
        <div class="price-none"><s><h3>1200грн<h3></s></div>
      </div>
      <div class="buttons-special">
        <div class="special-cart">
          <a href=""><i class="fa fa-shopping-cart"> В КОРЗИНУ</i></a>
        </div>
        <div class="buttons-special-right">
          <a href="">1</a>
            <div class="line"></div>
          <a href="">2</a>
            <div class="line"></div>
          <a href="">3</a>
        </div>
      </div>
  </div>
  <?php } ?>
</div>

