*{
	padding: 0;
	margin: 0;
}
body{
	margin: 0;
	padding: 0;
	background-color: #eeeeee;
}
a:hover{
	text-decoration: none;
}
p{
	text-align: ;
	color: #504f54;
}
h1 h2 h3 h4{
	text-align: center;
}
.star{
	text-align: center;
	font-size: 40px;
	color:#ea4813;
}
span{
	color:#ea4813;
}
#top-links{
	z-index: 15;
}
.enter{
	float:right;
	color: snow;
}
.enter:hover{
	color: #ea4813;
}
.dropdown-toggle{
	color:snow;
}
.dropdown-toggle:hover{
	text-decoration: none;
	color: #ea4813;
}
.social{
	float: right; 
	margin-right: 10px;
}
.social i{
	color: snow;
	margin-right: 15px;
	font-size: 25px;
}
.social i:hover{
	color:#e9511f;
}
#insta{
	background-image: url("http://chic.od.ua/image/catalog/icon/insta.png");
}
#insta:hover{
	opacity: 0;
}
.cart-header{
	font-size: 70px;
	background-color: #e9511f;
	height: 100%;
	color: black;
	padding: 0;
	border-bottom-right-radius: 7px;
	border-top-right-radius: 7px;
	padding: 3px;
}
.fa-shopping-cart:hover{
	color: white;
}
.r{
	color: snow;
}
.usser{
	font-size: 30px;
	margin-right: 15px;
	color: black;
}
header{
	position: absolute;
	z-index: 15;
	width: 100%;
}
#top{
	margin-top:20px;
}
.navbar{
	margin-top: 20px;
	border-radius: 7px;
	padding: 0;
}
#navbarSupportedContent{
	display: flex;
	justify-content: flex-end;
}
#navbarSupportedContent li a{
	color: black;
	margin-right: 15px;

}

footer{
	background-color: black;
	color: snow;
	padding-top: 20px;
}
footer a{
	color: snow;
}
footer li{
	padding: 3px;
}
.fut li{
	list-style: none;
}
.left-foot{
	padding-top: 15px;
}
.email{
	width: 100%;
	background-color: #504f54;
	border-radius: 50px;
	padding: 5px;
}
.email button{
	background-color: #504f54;
	border-style: none;
}
.foot2{
	width: 100%;
	padding: 20px;
	background-color: #504f54;
	text-align: center;
}

.social-f i{
	padding: 10px;
	border:1px solid black;
	background-color: black;
	border-radius: 50px;
}
/*категории на главной*/
.main-name{
	text-align: center;
}
.category_title img{
	margin: auto;
}

.category_box{
	padding: 0;
	margin: 0;
}
#cat-img{
	border:1px solid black;
	padding: 0px;
	margin: 0px;
	

}
.category-name{
	position	: absolute;
	width		: 100%;
	z-index: 15;
}

/* предложение*/
.hot{
	border: 1px solid black;
	display: flex;
	justify-content: center;
	width: 100%;
}

/*товар со скидкой*/

.special-title{
	position: absolute;
	margin-top: 50px;
	background-color: #e9511f;
	color: snow;
	padding: 15px;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
}
.special-m{
	border-radius: 15px;
	background-color: white;
	margin-top: -20px;
	padding-bottom: 20px;

}
.special{
	display: flex;
	justify-content: space-between;
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
}
.price{
	display: flex;
	justify-content: flex-start;
	justify-content: space-around;
	color: #e9511f;
}
.buttons-special{
	display: flex;
	justify-content: flex-start;
	justify-content: space-between;
}
.special-cart{
	background-color: #e9511f;
	font-size: 25px;
	border-radius: 7px;
	padding: 3px;
	width: 48%;
	text-align: center;
	margin-bottom: 10px;
}
.special-cart i{
	color: snow;
}
.special-cart i:hover{
	color: black;
}
.buttons-special-right{
	background-color: black;
	width: 48%;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 25px;
	color: white;
	margin-bottom: 10px;
}
.buttons-special-right a{
	color: white;
}
.buttons-special-right a:hover{
	color: #e9511f;
}
.special-right h3{
	text-align: center;
	padding-top: 20px;
}
.special-left{
	height: 100%;
}
.price-none{
	color: #a6a5a3;
}
.otzv{
	display: flex;
	justify-content: flex-start;
	justify-content: space-around;
}
.line{
	height: 80%;
	width: 2px;
	background-color: snow;
}
/*hot carusel*/
.product-carusel{
	margin-top: 30px;
	background-color: #eeeeee;
}
.img-hot-caruseul{
	width: 200px;
}
.productcarusel img{
	margin: 10px;
	border-radius: 10px;
}

.category_box2{
	margin-top:20px;
}















